<footer class="bg-gray-900 text-white py-6 text-center">
    <div class="flex justify-center gap-6 mb-4">
        <img
            src="/logo.ico"
            alt="logo"
            class="h-16 sm:h-20 w-auto object-contain"
            width="160"
            height="80"
        />
    </div>
    <div class="container mx-auto px-6">
        <!-- Derechos Reservados -->
        <p class="mb-4 text-sm md:text-base" aria-label="Derechos reservados">
            © 2025 <span class="font-semibold">MOOVE</span>. Todos los derechos
            reservados.
        </p>

        <!-- Enlace a la Política de Privacidad -->
        <p class="text-sm">
            <a
                href="#home"
                class="text-gray-400 hover:text-white transition-colors"
                aria-label="Política de Privacidad"
            >
                Política de privacidad
            </a>
            &bull;
            <a
                href="#home"
                class="text-gray-400 hover:text-white transition-colors"
                aria-label="Términos y Condiciones"
            >
                Términos y condiciones
            </a>
        </p>
    </div>
</footer>
