---
const galleryImages = [
    { type: "video", src: "/video.webm" },
    { type: "image", src: "/imagen5.webp" },
    { type: "image", src: "/imagen2.webp" },
    { type: "image", src: "/imagen3.webp" },
    { type: "image", src: "/imagen6.webp" },
    { type: "image", src: "/imagen1.webp" },
    { type: "image", src: "/imagen7.webp" },
    { type: "image", src: "/imagen4.webp" },
];
---

<section id="galery" class="bg-gray-900 text-white py-16 px-6">
    <div class="max-w-5xl mx-auto text-center">
        <h1 class="titulo">
            Conoce nuestro <span class="text-blue-600">espacio</span>
        </h1>
    </div>

    <div class="mt-10 grid grid-cols-2 md:grid-cols-4 gap-6 max-w-6xl mx-auto">
        {
            galleryImages.map((item, index) => (
                <div class="relative group overflow-hidden rounded-xl shadow-lg">
                    {item.type === "image" ? (
                        <img
                            src={item.src}
                            alt={`Galería ${index + 1}`}
                            class="w-full h-full object-cover transition-transform duration-300 transform group-hover:scale-110"
                            loading="lazy"
                        />
                    ) : (
                        <video
                            src={item.src}
                            class="w-full h-full  object-contain"
                            controls
                            muted
                        />
                    )}
                </div>
            ))
        }
    </div>
</section>

<style>
    .titulo {
        font-family: "Bebas Neue", serif;
        font-size: 3rem;
        font-weight: 800;
        text-align: center;
    }

    @media (min-width: 640px) {
        .titulo {
            font-size: 3rem;
            line-height: 1.3;
        }
    }

    @media (min-width: 768px) {
        .titulo {
            font-size: 3rem;
            margin-bottom: 1.5rem;
        }
    }

    @media (min-width: 1024px) {
        .titulo {
            font-size: 3rem;
            margin-bottom: 2rem;
        }
    }
</style>
