---
import "../styles/global.css";
const description =
	"Entrena desde donde estés y alcanza tus metas sin límites. Nuestro programa online te ofrece rutinas personalizadas, seguimiento de expertos y la motivación que necesitas para mantenerte constante. Adapta tus entrenamientos a tu ritmo y tu estilo de vida, con la misma calidad que en un gimnasio físico. No solo entrenes: crece, supérate y vive el cambio que siempre has buscado. Moove";
import logo from "../assets/icons/logo-oscuro.webp";
---

<!doctype html>
<html lang="es">
	<head>
		<!-- Google tag (gtag.js) -->
		<script is:inline
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-K3ZJTHLQ92"
		></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-K3ZJTHLQ92");
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<link rel="icon" type="image/webp" href={logo.src} />
		<title>Moove</title>
	</head>
	<body class="bg-gray-100 text-gray-900" id="home">
		<slot />
		<script type="module" src="/js/scroll.js"></script>
	</body>
</html>
