---
import "../styles/global.css";
const description =
	"Únete a nuestro gimnasio y transforma tu cuerpo y mente. Ofrecemos entrenamientos personalizados, un ambiente motivador y equipos de última generación para ayudarte a alcanzar tus metas de fitness. Ya sea que busques tonificar, perder peso o aumentar tu fuerza, estamos aquí para apoyarte en cada paso del camino.";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<link rel="icon" type="image/svg+xml" href="/logo.ico" />
		<link rel="preload" as="image" href="/logo.ico" type="image/ico" />
		<link rel="preload" as="image" href="/fondo.webp" type="image/webp" />
		<title>Moove</title>
	</head>
</html>
<body class="bg-gray-100 text-gray-900" id="home">
	<slot />
</body>

<script type="module" is:inline>
	import { setupSmoothScroll } from "/scripts/scroll.js";
	document.addEventListener("DOMContentLoaded", () => {
		setupSmoothScroll();
	});
</script>
